{% extends 'base.html' %}

{% block content %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                Discover the story and mission behind ClickHaven.
            </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                <br/>
                ClickHaven is dedicated to providing a seamless and secure online shopping experience for everyone. Built with Django, our platform combines reliability, performance, and user-friendly design.<br/><br/>

                We offer a wide range of quality products and make it easy for customers to browse, shop, and manage their orders. Our secure checkout process and responsive support ensure your satisfaction.<br/><br/>

                For administrators, ClickHaven features a powerful dashboard to manage orders and shipping efficiently.<br/><br/>

                Thank you for visiting ClickHaven. We are committed to making your shopping journey enjoyable and worry-free!
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}