{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Password Reset Complete</h1>
            <p class="lead fw-normal text-white-50 mb-0">You may now log in with your new password</p>
        </div>
    </div>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body text-center">
                    <h4>Your password has been set.</h4>
                    <a href="{% url 'login' %}" class="btn btn-secondary mt-3">Go to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}